body {
    background-color: rgb(135,206,250);
}

#main-title {
    font-family: "Calibri", sans-serif;
    font-size: 3.0em;
    text-align: center;
}
#subtitle {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Gadugi", serif;
    text-align: center;
}
#rotation-btn {
    z-index: 1;
    position: absolute;
    margin: 20% 256px 256px 310px;
    padding: 16px;
    text-align: center;
    width: 128px;
    height: 18px;
    background: rgb(128,128,255);
    border: black 2px solid;
}
#rotation-path {
    position: relative;
    margin: 64px auto;
	width: 320px;
	height: 320px;
	border: 4px dashed rgba(0,0,0,0.1);
	border-radius: 50%;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
    animation: rotateObj 4s linear infinite;
}
#rotation-obj {
    background: yellow;
    border-radius: 50%;
    margin: 0;
    position: absolute;
	width: 80px;
	height: 80px;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	top: -40px;   /* -child size/2 */
    left: 110px;   /* parent size/2 - child size/2 */
    text-align: center;
}
#rotation-obj-txt {
    position: absolute;
    margin: 10px auto auto 30px;
    font-weight: bold;
    font-size: 3em;
    transform: rotate(90deg);
    animation: rotateObjOpp 4s linear infinite;
}
@keyframes rotateObj {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateObjOpp {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-270deg);
    }
}